{% extends "form_base.html" %}

{% block form_content %}
    <div class="form-group row">
        {{ form.sequencing_system.label(class_='col-4 col-form-label') }}
        <div class="col-8">
            {{ form.sequencing_system(class_='form-control') }}
        </div>
    </div>

    <div class="form-group row">
        {{ form.read_len.label(class_='col-4 col-form-label') }}
        <div class="col-8">
            {{ form.read_len(class_='form-control', required='') }}
        </div>
        {% for error in form.read_len.errors %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endfor %}
    </div>
{% endblock %}