{% extends "form_base.html" %}

{% block form_content %}
    <div class="form-group row">
        {{ form.sequence_identifier.label(class_='col-4 col-form-label') }}
        <div class="col-8">
            {{ form.sequence_identifier(class_='form-control', required='') }}
        </div>
        {% for error in form.sequence_identifier.errors %}
            <span class="alert alert-danger" role="alert">{{ error }}</span>
        {% endfor %}
    </div>

    <div class="form-group row">
        {{ form.coverage_mean.label(class_='col-4 col-form-label') }}
        <div class="col-8">
            {{ form.coverage_mean(class_='form-control', value='0.22', required='') }}
        </div>
        {% for error in form.coverage_mean.errors %}
            <span class="alert alert-danger" role="alert">{{ error }}</span>
        {% endfor %}
    </div>

    <div class="form-group row">
        {{ form.peak_coverage_mean.label(class_='col-4 col-form-label') }}
        <div class="col-8">
            {{ form.peak_coverage_mean(class_='form-control', value='37.7', required='') }}
        </div>
        {% for error in form.peak_coverage_mean.errors %}
            <span class="alert alert-danger" role="alert">{{ error }}</span>
        {% endfor %}
    </div>

    <div class="form-group row">
        {{ form.gc_content_peak.label(class_='col-4 col-form-label') }}
        <div class="col-8">
            {{ form.gc_content_peak(class_='form-control', value='0.45', required='') }}
        </div>
        {% for error in form.gc_content_peak.errors %}
            <span class="alert alert-danger" role="alert">{{ error }}</span>
        {% endfor %}
    </div>

    <div class="form-group row">
        {{ form.coverage_std_dev.label(class_='col-4 col-form-label') }}
        <div class="col-8">
            {{ form.coverage_std_dev(class_='form-control', value='0.2', required='') }}
        </div>
        {% for error in form.coverage_std_dev.errors %}
            <span class="alert alert-danger" role="alert">{{ error }}</span>
        {% endfor %}
    </div>

    <div class="form-group row">
        {{ form.read_length.label(class_='col-4 col-form-label') }}
        <div class="col-8">
            {{ form.read_length(class_='form-control', value='76', required='') }}
        </div>
        {% for error in form.read_length.errors %}
            <span class="alert alert-danger" role="alert">{{ error }}</span>
        {% endfor %}
    </div>

    <div class="form-group row">
        {{ form.mean_length.label(class_='col-4 col-form-label') }}
        <div class="col-8">
            {{ form.mean_length(class_='form-control', value='210', required='') }}
        </div>
        {% for error in form.mean_length.errors %}
            <span class="alert alert-danger" role="alert">{{ error }}</span>
        {% endfor %}
    </div>

    <div class="form-group row">
        {{ form.std_dev.label(class_='col-4 col-form-label') }}
        <div class="col-8">
            {{ form.std_dev(class_='form-control', value='60', required='') }}
        </div>
        {% for error in form.std_dev.errors %}
            <span class="alert alert-danger" role="alert">{{ error }}</span>
        {% endfor %}
    </div>
{% endblock %}