{% extends "form_base.html" %}

{% block form_content %}
    <div class="form-group row">
        {{ form.read_len.label(class_='col-4 col-form-label') }}
        <div class="col-8">
            {{ form.read_len(class_='form-control') }}
        </div>
        {% for error in form.read_len.errors %}
            <span class="alert alert-danger" role="alert">{{ error }}</span>
        {% endfor %}
    </div>

    <div class="form-group row">
        {{ form.fold_coverage.label(class_='col-4 col-form-label') }}
        <div class="col-8">
            {{ form.fold_coverage(class_='form-control') }}
        </div>
        {% for error in form.fold_coverage.errors %}
            <span class="alert alert-danger" role="alert">{{ error }}</span>
        {% endfor %}
    </div>
{% endblock %}
