{% extends "form_base.html" %}

{% block form_content %}
    <div class="form-group row">
        {{ form.read_count.label(class_='col-4 col-form-label') }}
        <div class="col-8">
            {{ form.read_count(class_='form-control', value='50000', required='') }}
        </div>
        {% for error in form.read_count.errors %}
            <span class="alert alert-danger" role="alert">{{ error }}</span>
        {% endfor %}
    </div>

    <div class="form-group row">
        {{ form.read_mean.label(class_='col-4 col-form-label') }}
        <div class="col-8">
            {{ form.read_mean(class_='form-control', value='200', required='') }}
        </div>
        {% for error in form.read_mean.errors %}
            <span class="alert alert-danger" role="alert">{{ error }}</span>
        {% endfor %}
    </div>

    <div class="form-group row">
        {{ form.read_size_std_dev.label(class_='col-4 col-form-label') }}
        <div class="col-8">
            {{ form.read_size_std_dev(class_='form-control', value='20', required='') }}
        </div>
        {% for error in form.read_size_std_dev.errors %}
            <span class="alert alert-danger" role="alert">{{ error }}</span>
        {% endfor %}
    </div>

    <div class="form-group row">
        {{ form.random_read_count.label(class_='col-4 col-form-label') }}
        <div class="col-8">
            {{ form.random_read_count(class_='form-control', value='0', required='') }}
        </div>
        {% for error in form.random_read_count.errors %}
            <span class="alert alert-danger" role="alert">{{ error }}</span>
        {% endfor %}
    </div>

    <div class="form-group row">
        {{ form.deletion_rate.label(class_='col-4 col-form-label') }}
        <div class="col-8">
            {{ form.deletion_rate(class_='form-control', value='0.01', required='') }}
        </div>
        {% for error in form.deletion_rate.errors %}
            <span class="alert alert-danger" role="alert">{{ error }}</span>
        {% endfor %}
    </div>

    <div class="form-group row">
        {{ form.insertion_rate.label(class_='col-4 col-form-label') }}
        <div class="col-8">
            {{ form.insertion_rate(class_='form-control', value='0.005', required='') }}
        </div>
        {% for error in form.insertion_rate.errors %}
            <span class="alert alert-danger" role="alert">{{ error }}</span>
        {% endfor %}
    </div>

    <div class="form-group row">
        {{ form.substitution_rate.label(class_='col-4 col-form-label') }}
        <div class="col-8">
            {{ form.substitution_rate(class_='form-control', value='0.005', required='') }}
        </div>
        {% for error in form.substitution_rate.errors %}
            <span class="alert alert-danger" role="alert">{{ error }}</span>
        {% endfor %}
    </div>
{% endblock %}