{% extends "form_base.html" %}

{% block form_content %}
    <div class="form-group row">
        {{ form.read_count.label(class_='col-4 col-form-label') }}
        <div class="col-8">
            {{ form.read_count(class_='form-control', value='1000', required='') }}
        </div>
        {% for error in form.read_count.errors %}
            <span class="alert alert-danger" role="alert">{{ error }}</span>
        {% endfor %}
    </div>

    <div class="form-group row">
        {{ form.random_source_sequence_length.label(class_='col-4 col-form-label') }}
        <div class="col-8">
            {{ form.random_source_sequence_length(class_='form-control', value='1000000', required='') }}
        </div>
        {% for error in form.random_source_sequence_length.errors %}
            <span class="alert alert-danger" role="alert">{{ error }}</span>
        {% endfor %}
    </div>

    <div class="form-group row">
        {{ form.a_probability.label(class_='col-4 col-form-label') }}
        <div class="col-8">
            {{ form.a_probability(class_='form-control', value='0.25', required='') }}
        </div>
        {% for error in form.a_probability.errors %}
            <span class="alert alert-danger" role="alert">{{ error }}</span>
        {% endfor %}
    </div>

    <div class="form-group row">
        {{ form.c_probability.label(class_='col-4 col-form-label') }}
        <div class="col-8">
            {{ form.c_probability(class_='form-control', value='0.25', required='') }}
        </div>
        {% for error in form.c_probability.errors %}
            <span class="alert alert-danger" role="alert">{{ error }}</span>
        {% endfor %}
    </div>

    <div class="form-group row">
        {{ form.g_probability.label(class_='col-4 col-form-label') }}
        <div class="col-8">
            {{ form.g_probability(class_='form-control', value='0.25', required='') }}
        </div>
        {% for error in form.g_probability.errors %}
            <span class="alert alert-danger" role="alert">{{ error }}</span>
        {% endfor %}
    </div>

    <div class="form-group row">
        {{ form.insertion_probability.label(class_='col-4 col-form-label') }}
        <div class="col-8">
            {{ form.insertion_probability(class_='form-control', value='0.001', required='') }}
        </div>
        {% for error in form.insertion_probability.errors %}
            <span class="alert alert-danger" role="alert">{{ error }}</span>
        {% endfor %}
    </div>

    <div class="form-group row">
        {{ form.deletion_probability.label(class_='col-4 col-form-label') }}
        <div class="col-8">
            {{ form.deletion_probability(class_='form-control', value='0.001', required='') }}
        </div>
        {% for error in form.deletion_probability.errors %}
            <span class="alert alert-danger" role="alert">{{ error }}</span>
        {% endfor %}
    </div>

    <div class="form-group row">
        {{ form.avg_mismatch_probability.label(class_='col-4 col-form-label') }}
        <div class="col-8">
            {{ form.avg_mismatch_probability(class_='form-control', value='0.004', required='') }}
        </div>
        {% for error in form.avg_mismatch_probability.errors %}
            <span class="alert alert-danger" role="alert">{{ error }}</span>
        {% endfor %}
    </div>

    <div class="form-group row">
        {{ form.first_base_mismatch_probability.label(class_='col-4 col-form-label') }}
        <div class="col-8">
            {{ form.first_base_mismatch_probability(class_='form-control', value='0.002', required='') }}
        </div>
        {% for error in form.first_base_mismatch_probability.errors %}
            <span class="alert alert-danger" role="alert">{{ error }}</span>
        {% endfor %}
    </div>

    <div class="form-group row">
        {{ form.last_base_mismatch_probability.label(class_='col-4 col-form-label') }}
        <div class="col-8">
            {{ form.last_base_mismatch_probability(class_='form-control', value='0.012', required='') }}
        </div>
        {% for error in form.last_base_mismatch_probability.errors %}
            <span class="alert alert-danger" role="alert">{{ error }}</span>
        {% endfor %}
    </div>

    <div class="form-group row">
        {{ form.random_seed.label(class_='col-4 col-form-label') }}
        <div class="col-8">
            {{ form.random_seed(class_='form-control', value=form.random_seed.data, required='') }}
        </div>
        {% for error in form.random_seed.errors %}
            <span class="alert alert-danger" role="alert">{{ error }}</span>
        {% endfor %}
    </div>
{% endblock %}
