[submodule "simulators/bear"]
	path = simulators/bear
	url = git@github.com:sej917/BEAR.git
[submodule "bin/DWGSIM"]
	path = bin/DWGSIM
	url = git@github.com:nh13/DWGSIM.git
[submodule "bin/EAGLE"]
	path = bin/EAGLE
	url = git@github.com:sequencing/EAGLE.git
[submodule "bin/pirs"]
	path = bin/pirs
	url = git@github.com:galaxy001/pirs.git
[submodule "bin/SimSeq"]
	path = bin/SimSeq
	url = git@github.com:jstjohn/SimSeq.git
[submodule "bin/wgsim"]
	path = bin/wgsim
	url = git@github.com:lh3/wgsim.git
