{% extends "container.html" %}

{% block content %}
    <div class="container" style="padding-top:50px; padding-bottom:50px">
        <div class="row">
            {% for sim in simulators %}
            <div class="col-sm-6" style="padding-bottom: 10px;">
                <a style="text-decoration:none; color:inherit;" href="{{ url_for(simulators[sim]['route']) }}">
                    <div class="card hover-highlight">
                        <div class="card-body">
                            <h5 class="card-title">{{ simulators[sim]['title'] }}</h5>
                            <p class="card-text">{{ simulators[sim]['caption'] }}</p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}