{% extends "base.html" %}

{% block base_content %}
    <div class="container" style="padding-top:100px; padding-bottom:50px">
        <div class="row">
            {% for i in range(23) %}
            <div class="col-sm-6" style="padding-bottom: 10px;">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">(title)</h5>
                        <p class="card-text">(caption)</p>
                        <a href="#" class="btn btn-primary">(link)</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}