{% extends "container.html" %}

{% block content %}
<div class="table100 ver2">
    <div class="table100-head">
        <table class="table100-width">
            <thead>
                <tr>
                    <th class="column1">Job name</th>
                    <th class="column2">Command</th>
                    <th class="column3">Status</th>
                </tr>
            </thead>
        </table>
    </div>

    <div class="table100-body">
        <table class="table100-width">
            <tbody>
                {% for job in jobs %}
                <tr class="row100 body">
                    <td class="column1">{{ job.name }}</td>
                    <td class="column2 data-column">{{ job.command }}</td>
                    {% if job.status == 'finished' %}
                        <td class="column3 data-column">
                            <a href="{{ url_for('download', job_id=job.id) }}">Download</a> 
                        </td>
                    {% else %}
                        <td class="column3 data-column">{{ job.status }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
