{% extends "base.html" %}

{% block base_content %}
    <header class="masthead text-center text-white d-flex">
        <div class="container my-auto">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h1 class="text-uppercase">
                        <strong>Suite of Next Generation Sequencing tools</strong>
                    </h1>
                    <hr>
                </div>
                <div class="col-lg-8 mx-auto">
                    <p class="mb-5">An all-in-one tool that houses widely used NGS simulators for both human genome and metagenome.</p>
                </div>
            </div>
        </div>
    </header>
{% endblock %}