{% extends "container.html" %}

{% block content %}
    <div class="text-center" style="padding-top:20px">
        <h3 style="padding-bottom:10px">Search public jobs</h3>
        <div class="row">
            <div class="col-lg-6 offset-lg-3 text-center">
                <form action="" class="form" method="POST" role="form">
                    {{ form.hidden_tag() }}

                    <div style="float:left;">Reference database</div>
                    <br/>
                    <div class="form-inline form-group">
                    {% for field in form.ref_tags %}
                        <div class="form-check" style="padding:2px">
                            {{ field(class_='form-check-input') }}
                            {{ field.label(class_='form-check-label') }}
                        </div>
                    {% endfor %}
                    </div>

                    <div style="float:left;">Type</div>
                    <br/>
                    <div class="form-inline form-group">
                    {% for field in form.gen_tags %}
                        <div class="form-check" style="padding:2px">
                            {{ field(class_='form-check-input') }}
                            {{ field.label(class_='form-check-label') }}
                        </div>
                    {% endfor %}
                    </div>

                    <div style="float:left;">Technology</div>
                    <br/>
                    <div class="form-inline form-group">
                    {% for field in form.tech_tags %}
                        <div class="form-check" style="padding:2px">
                            {{ field(class_='form-check-input') }}
                            {{ field.label(class_='form-check-label') }}
                        </div>
                    {% endfor %}
                    </div>

                    <div style="float:left;">Genetic Variations</div>
                    <br/>
                    <div class="form-inline form-group">
                    {% for field in form.var_tags %}
                        <div class="form-check" style="padding:2px">
                            {{ field(class_='form-check-input') }}
                            {{ field.label(class_='form-check-label') }}
                        </div>
                    {% endfor %}
                    </div>

                    {{ form.submit(class_='btn btn-outline-primary btn-block') }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}